/* style sheet for "A4" printing */
@media print and (width: 21cm) and (height: 29.7cm) {
    @page {
        margin: 3cm;
    }
}

.receiptBody {
    border: 1px solid black;
    min-height: 7in;
    width: 4.625in;
    padding: 10px 10px;
}

.receipthead {
    height: .9in;
    width: 100%;
    border-bottom: 3px solid slategray;
}

.Cname {
    float: left;
    height: 100%;
    width: 80%;

}

.nameHeader {
    font-size: 18px;
    font-weight: bold;
    color: #00AA00;
    margin-bottom: 0;
    padding-top: 18px;
    font-style: italic;
}

.logo {
    float: left;
    height: 100%;
    width: 20%;
}

.border {
    border: 1px solid black;
}

.marginTop {
    margin-top: 10px;
}

.marginBottom {
    margin-bottom: 5px;
}